{{ ansible_managed | comment }}

### Directories
#command_directory = /usr/sbin
#daemon_directory = /usr/libexec/postfix
#data_directory = /var/lib/postfix
#meta_directory = /etc/postfix
#shlib_directory = /usr/lib/postfix
#manpage_directory = /usr/share/man
#sample_directory = /usr/share/doc/postfix3-3.0.3/samples
#readme_directory = /usr/share/doc/postfix3-3.0.3/README_FILES
#mailq_path = /usr/bin/mailq.postfix
#sendmail_path = /usr/sbin/sendmail.postfix
#newaliases_path = /usr/bin/newaliases.postfix

### Global
smtpd_banner = {{ postfix_smtpd_banner }}
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = {{ postfix_compatibility_level }}

### Server
#myorigin = {{ ansible_hostname }}
myhostname = {{ postfix_myhostname }}
mynetworks = {{ postfix_mynetworks }}
mydestination = {{ postfix_mydestination }}

{% if postfix_mydomain is defined and postfix_mydomain | length > 0 %}
mydomain = {{ postfix_mydomain }}
{% endif %}

### Nerwork
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}

### queues and limits
mailbox_size_limit = 0
recipient_delimiter = +
queue_directory = /var/spool/postfix
#message_size_limit = 52428800
#maximal_queue_lifetime = 10d
#bounce_queue_lifetime = 10d

### Alias
alias_maps = {{ postfix_alias_maps }}
alias_database = {{ postfix_alias_database }}

### smtp
relayhost = {{ postfix_relayhost }}
# TLS parameters
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
#smtp_tls_mandatory_ciphers = high
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

#smtpd_use_tls= {{ postfix_smtpd_use_tls }}
#smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}
smtpd_tls_security_level=may
smtpd_tls_cert_file={{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file={{ postfix_smtpd_tls_key_file }}
smtpd_relay_restrictions={{ postfix_smtpd_relay_restrictions }}

{% if postfix_sasl_auth_enable is defined and postfix_sasl_auth_enable is sameas true %}
# force client auth
smtpd_sasl_auth_enable = yes
smtpd_tls_auth_only = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options = $smtpd_sasl_security_options
# configure sasl
smtpd_sasl_type = cyrus
smtpd_sasl_path = smtpd
broken_sasl_auth_clients = yes

## relay configuration:
# relay only sasl_auth emails received by smtpd
# force tls to connect to relay
# use sasl_passwd map to connect to relay
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
{% endif %}

{% if postfix_extra_options is defined and postfix_extra_options | length > 0 %}
{{ postfix_extra_options }}
{% endif %}
