{{ ansible_managed | comment }}

### Global
smtpd_banner = {{ postfix_smtpd_banner }}
biff = {{ postfix_biff }}
append_dot_mydomain = {{ postfix_append_dot_mydomain }}
readme_directory = {{ postfix_readme_directory }}
compatibility_level = {{ postfix_compatibility_level }}
{% if postfix_mail_owner is defined and postfix_mail_owner | length > 0 %}
mail_owner = {{ postfix_mail_owner }}
{% endif %}
{% if postfix_mydomain is defined and postfix_mydomain | length > 0 %}
mydomain = {{ postfix_mydomain }}
{% endif %}
{% if postfix_myorigin is defined and postfix_myorigin | length > 0 %}
myorigin = {{ postfix_myorigin }}
{% endif %}
myhostname = {{ postfix_myhostname }}
mynetworks = {{ postfix_mynetworks }}
mydestination = {{ postfix_mydestination }}
relayhost = {{ postfix_relayhost }}
{% if postfix_global_extra_conf is defined and postfix_global_extra_conf | length > 0 %}
{{ postfix_global_extra_conf }}
{% endif %}

### Maps
{% if postfix_local_recipient_maps is defined and postfix_local_recipient_maps | length > 0 %}
local_recipient_maps = {{ postfix_local_recipient_maps }}
{% endif %}
alias_maps = {{ postfix_alias_maps }}
alias_database = {{ postfix_alias_database }}
{% if postfix_map_extra_conf is defined and postfix_map_extra_conf | length > 0 %}
{{ postfix_map_extra_conf }}
{% endif %}

### Nerwork
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
{% if postfix_network_extra_conf is defined and postfix_network_extra_conf | length > 0 %}
{{ postfix_network_extra_conf }}
{% endif %}

### Queues and Limits
{% if postfix_queue_extra_conf is defined and postfix_queue_extra_conf | length > 0 %}
{{ postfix_queue_extra_conf }}
{% endif %}

### TLS CONFIG
{% if postfix_tls_extra_conf is defined and postfix_tls_extra_conf | length > 0 %}
{{ postfix_tls_extra_conf }}
{% endif %}

{% if postfix_extra_options is defined and postfix_extra_options | length > 0 %}
### Various
{{ postfix_extra_options }}
{% endif %}

{% if postfix_sasl_install is sameas true and postfix_sasl_extra_conf is defined and postfix_sasl_extra_conf | length > 0 %}
### SASL CONFIG
{{ postfix_sasl_extra_conf }}
{% endif %}

{% if postfix_dkim_install is sameas true and postfix_dkim_options is defined and postfix_dkim_options | length > 0 %}
### DKIM Config
{{ postfix_dkim_options }}
{% endif %}
