{{ ansible_managed | comment }}

### Global
smtpd_banner = {{ postfix_smtpd_banner }}
biff = {{ postfix_biff }}
append_dot_mydomain = {{ postfix_append_dot_mydomain }}
readme_directory = {{ postfix_readme_directory }}
compatibility_level = {{ postfix_compatibility_level }}
mail_owner = {{ postfix_mail_owner }}

### Server
{% if postfix_mydomain is defined and postfix_mydomain | length > 0 %}
mydomain = {{ postfix_mydomain }}
{% endif %}
myorigin = {{ ansible_myorigin }}
myhostname = {{ postfix_myhostname }}
mynetworks = {{ postfix_mynetworks }}
mydestination = {{ postfix_mydestination }}
relayhost = {{ postfix_relayhost }}

### Maps
local_recipient_maps = {{ postfix_local_recipient_maps }}
# Aliases are virtualised as we have to rewrite mostly every internal addresses (cf. virtual_alias_maps)
alias_maps = {{ postfix_alias_maps }}
alias_database = {{ postfix_alias_database }}
{% if postfix_map_extra_conf is defined and postfix_map_extra_conf | length > 0 %}
{{ postfix_map_extra_conf }}
{% endif %}

### Nerwork
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
{% if postfix_network_extra_conf is defined and postfix_network_extra_conf | length > 0 %}
{{ postfix_network_extra_conf }}
{% endif %}

### queues and limits
mailbox_size_limit = 0
recipient_delimiter = +
queue_directory = /var/spool/postfix
message_size_limit = 52428800

### TLS parameters
# client side
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_security_level = may
smtp_tls_mandatory_ciphers = high
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
# server side
smtpd_use_tls= {{ postfix_smtpd_use_tls }}
smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}
smtpd_tls_security_level={{ postfix_smtpd_tls_security_level }}
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}
smtpd_relay_restrictions = {{ postfix_smtpd_relay_restrictions }}

{% if postfix_sasl_auth_enable is defined and postfix_sasl_auth_enable is sameas true %}
# force client auth
smtpd_sasl_auth_enable = yes
smtpd_tls_auth_only = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options = $smtpd_sasl_security_options
# configure sasl
smtpd_sasl_type = cyrus
smtpd_sasl_path = smtpd
broken_sasl_auth_clients = yes

## relay configuration:
# relay only sasl_auth emails received by smtpd
# force tls to connect to relay
# use sasl_passwd map to connect to relay
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
{% endif %}

{% if postfix_extra_options is defined and postfix_extra_options | length > 0 %}
{{ postfix_extra_options }}
{% endif %}
